<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :name %><br />
  <%= f.text_field :name %></div>

  <div><%= f.label :batch %><br />
  <%= f.select :batch, options_for_select(User::BATCH) %></div>

  <div><%= f.label :dept %><br />
  <%= f.select :dept, options_for_select(User::DEPT) %></div>

  <div><%= f.label :course  %><br />
  <%= f.select :course, options_for_select(User::COURSE) %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
