<h1>Placement Drive Details</h1>

<div class="jumbotron">
<div class = "container">

<% if @companies %>
   <% @companies.each do |c| %>
   <fieldset>
   <legend><%= c.company.name %><small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= c.on %></small></legend>
   <div class = "container">
      <div> Job Notification Form : <%= link_to "Download" , c.jnf.url %> </div>
   	 <div><p><%= c.description %></p></div>
   	
   </div>
   </fieldset>
   <br><br>
   <% end %>
   <%= will_paginate @companies  %>
<% end %>

</div>
</div>