<%- model_class = Student -%>

<table>
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>      
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:course) %></th>
      <th><%= model_class.human_attribute_name(:dept) %></th>
      <th><%= model_class.human_attribute_name(:batch) %></th>
      <th><%= model_class.human_attribute_name(:gender) %></th>
      <th><%= model_class.human_attribute_name(:mobile) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:ug_cgpa) %></th>
      <th>Pg Cgpa </th>      
    </tr>
  </thead>
  <tbody>
  <% if @students %>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.id %></td>
       
        <td><%= student.name %></td>
        <td><%= student.course %></td>
        <td><%= student.dept %></td>
        <td><%= student.batch %></td>
        <td><%= student.gender %></td>
        <td><%= student.mobile %></td>
        <td><%= student.email %></td>
        <td><%= student.ug_cgpa %></td>
         <td><%= student.pg_cgpu %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
