<%- model_class = Student -%>

<table>
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:course) %></th>
      <th><%= model_class.human_attribute_name(:dept) %></th>
      <th><%= model_class.human_attribute_name(:batch) %></th>
      <th><%= model_class.human_attribute_name(:gender) %></th>
      <th><%= model_class.human_attribute_name(:dob) %></th>
      <th><%= model_class.human_attribute_name(:fname) %></th>
      <th><%= model_class.human_attribute_name(:mname) %></th>
      <th><%= model_class.human_attribute_name(:fjob) %></th>
      <th><%= model_class.human_attribute_name(:mjob) %></th>
      <th><%= model_class.human_attribute_name(:paddr) %></th>
      <th><%= model_class.human_attribute_name(:taddr) %></th>
      <th><%= model_class.human_attribute_name(:height) %></th>
      <th><%= model_class.human_attribute_name(:weight) %></th>
      <th><%= model_class.human_attribute_name(:eye) %></th>
      <th><%= model_class.human_attribute_name(:mobile) %></th>
      <th><%= model_class.human_attribute_name(:resiph) %></th>
      <th><%= model_class.human_attribute_name(:emerph) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:regreceipt) %></th>
      <th><%= model_class.human_attribute_name(:erank) %></th>
      <th><%= model_class.human_attribute_name(:ssc_board) %></th>
      <th><%= model_class.human_attribute_name(:ssc_yop) %></th>
      <th><%= model_class.human_attribute_name(:ssc_aggr) %></th>
      <th><%= model_class.human_attribute_name(:hsc_board) %></th>
      <th><%= model_class.human_attribute_name(:hsc_yop) %></th>
      <th><%= model_class.human_attribute_name(:hsc_aggr) %></th>
      <th><%= model_class.human_attribute_name(:d_trade) %></th>
      <th><%= model_class.human_attribute_name(:d_yop) %></th>
      <th><%= model_class.human_attribute_name(:d_board) %></th>
      <th><%= model_class.human_attribute_name(:d_aggr) %></th>
      <th><%= model_class.human_attribute_name(:ug12) %></th>
      <th><%= model_class.human_attribute_name(:ug3) %></th>
      <th><%= model_class.human_attribute_name(:ug4) %></th>
      <th><%= model_class.human_attribute_name(:ug5) %></th>
      <th><%= model_class.human_attribute_name(:ug6) %></th>
      <th><%= model_class.human_attribute_name(:ug7) %></th>
      <th><%= model_class.human_attribute_name(:ug8) %></th>
      <th><%= model_class.human_attribute_name(:ug9) %></th>
      <th><%= model_class.human_attribute_name(:ug10) %></th>
      <th><%= model_class.human_attribute_name(:ug_cgpa) %></th>
      <th><%= model_class.human_attribute_name(:ug_hist12) %></th>
      <th><%= model_class.human_attribute_name(:ug_hist3) %></th>
      <th><%= model_class.human_attribute_name(:ug_hist4) %></th>
      <th><%= model_class.human_attribute_name(:ug_hist5) %></th>
      <th><%= model_class.human_attribute_name(:ug_hist6) %></th>
      <th><%= model_class.human_attribute_name(:ug_hist7) %></th>
      <th><%= model_class.human_attribute_name(:ug_hist8) %></th>
      <th><%= model_class.human_attribute_name(:ug_hist_total) %></th>
      <th><%= model_class.human_attribute_name(:ug_backlog12) %></th>
      <th><%= model_class.human_attribute_name(:ug_backlog3) %></th>
      <th><%= model_class.human_attribute_name(:ug_backlog4) %></th>
      <th><%= model_class.human_attribute_name(:ug_backlog5) %></th>
      <th><%= model_class.human_attribute_name(:ug_backlog6) %></th>
      <th><%= model_class.human_attribute_name(:ug_backlog7) %></th>
      <th><%= model_class.human_attribute_name(:ug_backlog8) %></th>
      <th><%= model_class.human_attribute_name(:ug_b_pending) %></th>
      <th><%= model_class.human_attribute_name(:pg1) %></th>
      <th><%= model_class.human_attribute_name(:pg2) %></th>
      <th><%= model_class.human_attribute_name(:pg3) %></th>
      <th><%= model_class.human_attribute_name(:pg4) %></th>
      <th><%= model_class.human_attribute_name(:pg_cgpu) %></th>
      <th><%= model_class.human_attribute_name(:pg_hist1) %></th>
      <th><%= model_class.human_attribute_name(:pg_hist2) %></th>
      <th><%= model_class.human_attribute_name(:pg_hist3) %></th>
      <th><%= model_class.human_attribute_name(:pg_hist4) %></th>
      <th><%= model_class.human_attribute_name(:pg_hist_total) %></th>
      <th><%= model_class.human_attribute_name(:pg_backlog1) %></th>
      <th><%= model_class.human_attribute_name(:pg_backlog2) %></th>
      <th><%= model_class.human_attribute_name(:pg_backlog3) %></th>
      <th><%= model_class.human_attribute_name(:pg_backlog4) %></th>
      <th><%= model_class.human_attribute_name(:pg_backlog_pending) %></th>
      <th><%= model_class.human_attribute_name(:gap) %></th>
      
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= link_to student.id, student_path(student) %></td>
        <td><%= student.user_id %></td>
        <td><%= student.name %></td>
        <td><%= student.course %></td>
        <td><%= student.dept %></td>
        <td><%= student.batch %></td>
        <td><%= student.gender %></td>
        <td><%= student.dob %></td>
        <td><%= student.fname %></td>
        <td><%= student.mname %></td>
        <td><%= student.fjob %></td>
        <td><%= student.mjob %></td>
        <td><%= student.paddr %></td>
        <td><%= student.taddr %></td>
        <td><%= student.height %></td>
        <td><%= student.weight %></td>
        <td><%= student.eye %></td>
        <td><%= student.mobile %></td>
        <td><%= student.resiph %></td>
        <td><%= student.emerph %></td>
        <td><%= student.email %></td>
        <td><%= student.regreceipt %></td>
        <td><%= student.erank %></td>
        <td><%= student.ssc_board %></td>
        <td><%= student.ssc_yop %></td>
        <td><%= student.ssc_aggr %></td>
        <td><%= student.hsc_board %></td>
        <td><%= student.hsc_yop %></td>
        <td><%= student.hsc_aggr %></td>
        <td><%= student.d_trade %></td>
        <td><%= student.d_yop %></td>
        <td><%= student.d_board %></td>
        <td><%= student.d_aggr %></td>
        <td><%= student.ug12 %></td>
        <td><%= student.ug3 %></td>
        <td><%= student.ug4 %></td>
        <td><%= student.ug5 %></td>
        <td><%= student.ug6 %></td>
        <td><%= student.ug7 %></td>
        <td><%= student.ug8 %></td>
        <td><%= student.ug9 %></td>
        <td><%= student.ug10 %></td>
        <td><%= student.ug_cgpa %></td>
        <td><%= student.ug_hist12 %></td>
        <td><%= student.ug_hist3 %></td>
        <td><%= student.ug_hist4 %></td>
        <td><%= student.ug_hist5 %></td>
        <td><%= student.ug_hist6 %></td>
        <td><%= student.ug_hist7 %></td>
        <td><%= student.ug_hist8 %></td>
        <td><%= student.ug_hist_total %></td>
        <td><%= student.ug_backlog12 %></td>
        <td><%= student.ug_backlog3 %></td>
        <td><%= student.ug_backlog4 %></td>
        <td><%= student.ug_backlog5 %></td>
        <td><%= student.ug_backlog6 %></td>
        <td><%= student.ug_backlog7 %></td>
        <td><%= student.ug_backlog8 %></td>
        <td><%= student.ug_b_pending %></td>
        <td><%= student.pg1 %></td>
        <td><%= student.pg2 %></td>
        <td><%= student.pg3 %></td>
        <td><%= student.pg4 %></td>
        <td><%= student.pg_cgpu %></td>
        <td><%= student.pg_hist1 %></td>
        <td><%= student.pg_hist2 %></td>
        <td><%= student.pg_hist3 %></td>
        <td><%= student.pg_hist4 %></td>
        <td><%= student.pg_hist_total %></td>
        <td><%= student.pg_backlog1 %></td>
        <td><%= student.pg_backlog2 %></td>
        <td><%= student.pg_backlog3 %></td>
        <td><%= student.pg_backlog4 %></td>
        <td><%= student.pg_backlog_pending %></td>
        <td><%= student.gap %></td>
      </tr>
    <% end %>
  </tbody>
</table>
