<h1>List#index</h1>
<p>Find me in app/views/list/index.html.erb</p>

<%= form_tag("/list/index", method: "get") do %>
  <%= select "list", :batch, options_for_select(Student::BATCH), :class => 'select_field' %>
  <%= select "list", :dept , options_for_select(Student::DEPT), :class => 'select_field' %>
  <%= submit_tag("Find") %>
<% end %>

<% if @students %>
<%= form_tag("/list/export.xls", method: "post") do %>
	<table class="table table-striped" id="dtables">
	  <thead>
	  	
	  		<td>Select</td><td>Name</td><td>Department</td><td>CGPA</td>
	
	  </thead>
	  <tbody>
	  	<% @students.each do |student| %>
	  	  <% if student.adv_approved %>
		  	  <tr >
		  	<% elsif %>
		  	  <tr class = "error">
	  	<% end %>
	  	    <td><%= check_box_tag 'student_ids[]', student.id %></td>
	  	  	<td><%= link_to student.name, url_for(student), :target => '_blank' %></td>
	  	  	<td> <%= student.dept %></td>
	  	  	<td> <%= student.ug_cgpa %></td>
	  	  </tr>
	  	<% end %>
	  </tbody>
	</table>
 <%= submit_tag("Export Selected") %>
 <% end %>
<% end %>
