<h1>Advisor#index</h1>
<p>Find me in app/views/advisor/index.html.erb</p>

<%= form_tag("/advisor/index", method: "get") do %>
  <%= select "listadv", :batch, options_for_select(Student::BATCH), :class => 'select_field' %>
  <%= select "listadv", :dept , options_for_select(Student::DEPT), :class => 'select_field' %>
  <%= submit_tag("Find") %>
<% end %>

<% if @students %>
 <%= form_tag("/advisor/approve", method: "post") do %>
	<table class="table" id="dtables">
	  <thead>
	  	
	  		<td>Select</td><td>Name</td><td>Department</td><td>CGPA</td>
	
	  </thead>
	  <tbody>
	  	<% @students.each do |student| %>
	  	<% if student.adv_approved %>
	  	  <tr >
	  	  <td><%= check_box_tag 'student_ids[]', student.id, false, disabled: true %></td>
	  	<% elsif %>
	  	  <tr class = "error">
	  	  <td><%= check_box_tag 'student_ids[]', student.id %></td>
	  	<% end %>
	  	  	
	  	  	<td><%= link_to student.name, url_for(student), :target => '_blank' %></td>
	  	  	<td> <%= student.dept %></td>
	  	  	<td> <%= student.ug_cgpa %></td>
	  	  </tr>
	  	<% end %>
	  </tbody>
	</table>
  <%= submit_tag("Approve Selected Students") %>
 <% end %>
<% end %>