<!DOCTYPE html>
<html>
<head>
  <title>Cgpu TKMCE</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>



	<div class="navbar">
		  <div class="navbar-inner">
		    <a class="brand" href="#">CGPU</a>
		    <ul class="nav">
		      <li><a href="/">Home</a></li>     
		      
		      <% if user_signed_in? %>

		             <li><%= link_to 'Placement Status' , '/status' %></li>

				    <% if current_user.role? :superadmin %>
					  <li><%= link_to 'List' , '/list' %></li>
					  <li><%= link_to 'Drive List' , '/list/attend' %></li>					  
					  <li><%= link_to 'Admin' , '/superadmin' %></li>
					<% end %>

					<% if current_user.role? :po %>
					  <li><%= link_to 'List' , '/list' %></li>	
					  <li><%= link_to 'Drive List' , '/list/attend' %></li>				  
					  <li><%= link_to 'Admin' , '/superadmin' %></li>
					<% end %>

					<% if current_user.role? :placement %>
					  <li><%= link_to 'List' , '/list' %></li>	
					  <li><%= link_to 'Drive List' , '/list/attend' %></li>				  
					  <li><%= link_to 'Admin' , '/superadmin' %></li>
					<% end %>

					<% if current_user.role? :training %>
					  <li><%= link_to 'List' , '/list' %></li>	
					  <li><%= link_to 'Drive List' , '/list/attend' %></li>				  
					  <li><%= link_to 'Admin' , '/superadmin' %></li>
					<% end %>

					<% if current_user.role? :advisor %>
					  <li><%= link_to 'List' , '/list' %></li>	

					  <li><%= link_to 'Advisor' , '/advisor' %></li>
					<% end %>

					<% if current_user.role? :student %>
					  <li><%= link_to 'Details' ,students_path %></li>
					<% end %>

					<% if current_user.role? :classrep %>
					  <li><%= link_to 'List' , '/list' %></li>		
					  <li><%= link_to 'Drive List' , '/list/attend' %></li>			  
					  <li><%= link_to 'Admin' , '/superadmin' %></li>

					<% end %>


				    
			        <li><a href="#"><%= current_user.name %></a></li>
			      
				    <li><%= link_to 'Log Out', destroy_user_session_path, :method => 'delete'%></li>
			<% else %>
			    	<li><%= link_to 'Log In', new_user_session_path %></li>
			<% end %>
		    </ul>
		  </div>
	</div>

<div class = "container">
 		<p class="notice"><%= notice %></p>
       	<p ><%= alert %></p>

		<%= yield %>
</div>


</body>
</html>
